# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
dkms.conf